@model List<Gadgets.Application.Models.ViewModels.GadgetViewModel>

<h2>Listado de Gadgets</h2>

<table class="table table-sm table-striped table-bordered m-2">
    <thead>
        <tr>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>
                <a class="btn btn-sm btn-success" asp-controller="Gadgets" asp-action="Upsert">
                    <i class="fas fa-plus-circle"></i> Crear
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var g in Model)
        {
            <tr id="@g.Id">
                <td>@g.Tipo</td>
                <td>@g.Marca</td>
                <td>@g.Nombre</td>
                <td>@g.Precio</td>
                <td>
                    <a class="btn btn-sm btn-primary text-white" asp-route-id="@g.Id" asp-controller="Gadgets" asp-action="Upsert">
                        <i class="fas fa-pen-square"></i>
                    </a>
                    <a class="btn btn-sm btn-danger text-white" onclick="Borrar('@g.Id');">
                        <i class="fas fa-minus-circle"></i>
                    </a>
                </td>
            </tr>
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                        Image
                    </div>
                    <div class="col-sm-2">
                        Temp
                    </div>
                    <div class="col-sm-2">
                        Humidity:
                        <br />
                        Wind:
                    </div>
                    <div class="col-sm-7">
                        Ciudad
                        <br />
                        Fecha de consulta
                        <br />
                        Descripción de consulta
                    </div>
                </div>
            </div>
         }
    </tbody>
</table>

<script>
    function Borrar(id) {
        swal
            (
                {
                    title: "Borrar",
                    text: "¿Está seguro que desea borrar el registro?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true
                }
            ).then
            (
                (borrarlo) => {
                    if (borrarlo) {
                        $.ajax
                            (
                                {
                                    type: "DELETE",
                                    url: "/gadgets/borrar/?id=" + id,
                                    success: function (data) {
                                        if (data.success) {
                                            $("#" + id).remove();
                                            toastr.success(data.message);
                                        }
                                        else {
                                            toastr.error(data.message);
                                        }
                                    }
                                }
                            );
                    }
                }
            );
    }
</script>