@model List<Gadgets.Application.Models.ViewModels.WeatherViewModel>

<div class="jumbotron">
    <h1 class="display-4">Listado del clima</h1>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button"><i class="fas fa-cloud"></i> Nuevo :)</a>
    </p>
</div>

@foreach (var w in Model)
{
<div class="container border border-top-0 border-light">
    <div class="row">
        <div class="col-sm-1">
            <img src="@w.weather_icons"  />
        </div>
        <div class="col-sm-2">
            @w.temperature °C
        </div>
        <div class="col-sm-2">
            Humidity: @w.humidity %
            <br />
            Wind: @w.wind_speed @w.wind_dir
        </div>
        <div class="col-sm-7">
            @w.name, @w.region, @w.country 
            <br />
            @w.RequestTime
            <br />
            @w.weather_descriptions
        </div>
    </div>
</div>
}